.main-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6.5vh;
    background-color: #30374B;
}

.main-layout  .back-arrow-link{
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout h5 {
    padding-left: 1rem;
}