

.ordenes-container .main-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
    padding-bottom: 3rem;
}

.ordenes-container .order-code {
    color:#395CEA;
}

.ordenes-container .pedidos-list, .ordenes-container .combos-list  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ordenes-container button {
    margin: 1.5rem 0 0 0;
    align-self: center;
    background-color: #FF8308;
}

