.dato{
 display: grid;
 place-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #882525;
  width: 100%;
  max-width: 300px; 
  margin-top: 10px;
  margin-bottom: 10px;
  color: #F5EB9D;
}