.boletos-info .info-card-el {
    margin-bottom: 0.5rem;
}

.boletos-info button {
    text-transform: none;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 3rem;
}






.boletos-info .cedula {
    color: #BABABA  
}



.boletos-info .info-card-header {
    display: flex;  
    align-self: stretch;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;

    border-bottom: solid 1px #A8A8A8;
}





