

.pedidos-pendientes button {
  margin-top: 4rem;
  align-self:center ;
  padding: 0.8rem 3rem;
  font-weight: bold;
  background-color: #FF8308;
}

.pedidos-pendientes .content {

  background-color: #0E1321;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pedidos-pendientes h4 {
  text-align: center;

}


.pedidos-pendientes .pedido-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

